addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++-4.9-dev
before_install:
  - git config --global user.name travis
  - git config --global user.email travis@locahost
  - "npm install npm@3 -g"
language: node_js
script: npm run coveralls
node_js:
  - "4"
  - "5"
  - "6"
services:
  - redis-server
os:
  - linux
sudo: false
