doctype html
html
    head
        title node-distribute
        meta(name="viewport" content="width=device-width, initial-scale=1")
        style
            include ../../../node_modules/psychic-ui/dist/psychic-min.css
        style.
            html, body {
                height: 100%;
                width: 100%;
            }
            .vertical-center {
              margin: auto;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
            }

    body
        div(style="margin-top:15%")
            pre(style="width:425px;height:300px;" class="vertical-center text-center background-black text-white")
                div(style="height:150px;" class="vertical-center")
                  h3 This page does not exist
                  h1 404
                  a(href="/" class="text-white" style="display:block;") Go back to somewhere safe
