doctype html
html
    head
        title node-distribute
        meta(name="viewport" content="width=device-width, initial-scale=1")
        style
            include ../../../node_modules/psychic-ui/psychic-min.css
        style.
            html, body {
                height: 100%;
                width: 100%;
            }

    body
        div(class="navbar navbar-center")
            div(class="container")
                div(class="navbar-title")
                    a(class="text-black" href="/") node-distribute

        div(style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);")
            h3(class="text-center") This page does not exist
            pre(class="background-black text-white")
                |I dont this
                |is the page
                |you are looking
                |for
                |               \  .-.
                |                 /_ _\
                |                 |o^o|
                |                 \ _ /
                |                .-'-'-.              BLEEP BOOP BLOOP
                |              /`)  .  (`\            (THIS MEANS YES)
                |             / /|.-'-.|\ \         /
                |             \ \| (_) |/ /  .-""-.
                |              \_\'-.-'/_/  /[] _ _\
                |              /_/ \_/ \_\ _|_o_LII|_
                |                |'._.'|  / | ==== | \
                |                |  |  |  |_| ==== |_|
                |                 \_|_/    ||" ||  ||
                |                 |-|-|    ||LI  o ||
                |             jgs |_|_|    ||'----'||
                |                /_/ \_\  /__|    |__\
