html, body {
    height: 100%;
    width: 100%;
}
.process-container {
    height: auto;
    margin: 60px;
    padding-bottom: 50px;
}
.process-logs {
    background-color: #000000;
    color: white;
    text-align: left;
    height:400px;
    overflow: scroll;
    padding:10px;
}
