html, body {
    height: 100%;
    width: 100%;
}
.process-container {
    height: auto;
    margin: 60px;
}
.process-logs {
    text-align: left;
    height:150px;
    overflow: scroll;
    padding:10px;
}
