doctype html
html
    head
        title node-distribute
        meta(name="viewport" content="width=device-width, initial-scale=1")
        style
            include ./admin.css
        style
            include ../../../node_modules/psychic-ui/dist/psychic-perisian-min.css
        style
            include ../../../node_modules/chartist/dist/chartist.min.css

    body
        div(class="navbar navbar-center")
            div(class="container")
                div(class="navbar-title")
                    a(class="text-black" href="/") node-distribute
                div(class="navbar-content")
                    div(class="nav")
                        a(class="text-black" href="/queue") Queue
                        a(class="text-black" href="/settings") Settings

        div(class="text-center" id="content" style="width:100%;")
          div.grid
            div.col-2-12
            div.col-8-12
              h3 Current Applications
              ul.list
                each process, name in processes
                  li.list-item
                    div.list-item-left
                      a(href="/application/" + name)=name
                    div.list-item-right="mem: " + prettysize(process.memory[0] ? process.memory[0][1] : 0)
            div.col-md-2-12
