<!DOCTYPE html>
<html>
  <head>
      <title>node-distribute</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      <div class="navbar navbar-center">
          <div class="container">
              <div class="navbar-title">
                  <a class="text-black" href="/"> node-distribute </a>
              </div>
              <div class="navbar-content">
                  <div class="nav">
                      <a class="text-black" href="/queue"> Queue </a>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <div class="text-center" id="content" style="width:100%;">
          <div class="grid">
              <div class="col-2-12"></div>
              <div class="col-8-12">
                  <div id="app"></div>
              </div>
              <div class="col-2-12"></div>
          </div>
      </div>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/assets/app.js"></script>
  </body>
</html>
