doctype html
html
    head
        title node-distribute
        meta(name="viewport" content="width=device-width, initial-scale=1")
        style
            include ../../../node_modules/psychic-ui/psychic-min.css
        style
            include ../../../node_modules/chartist/dist/chartist.min.css

    body
        div(class="navbar navbar-center")
            div(class="container")
                div(class="navbar-title")
                    a(class="text-black" href="/") node-distribute
                div(class="navbar-content")
                    div(class="nav")
                        a(class="text-black" href="/admin/queue") Queue

        div(class="text-center" id="content" style="width:100%;position: absolute;top: 50%;transform: translateY(-50%);")

        script
            include ../../../node_modules/chartist/dist/chartist.js
        script
            include ./index.js
