code {
  margin: 0 !important;
  padding: 0 !important;
  display: inline-block !important;
  color: #0e9eee;
}

blockquote {
  font-weight: 100;
  font-size: 15px !important;
}

#install {
  border-radius: 5px !important;
  height: 75px !important;
  width: 215px !important;
  display: inline-block !important;
  padding: 10px !important;
  background: #3e3e3e !important;
  color: white !important;
  white-space: pre-line !important;
  text-align: left !important;
  font-size: 11px !important;
}

.logo {
  width: 150px;
}

.platforms {
  text-align: center;
  display: inline-block;
}

.platform {
  text-align: left;
  display: inline-block;
  margin-right: 50px;
  overflow: auto;
}

.platform > h3 {
  cursor: pointer;
  border-bottom: 1px dotted #dedede;
  display: inline-block;
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.code {
  font-size: 13px;
  line-height: 20px;
}

.code > span {
  color: #ababab;
}

.code > b {
  font-size: 13px;
  font-weight: normal;
}

.tick {
  display: inline-block;
  margin-right: 10px;
}

.main {
  color: #3e3e3e;
  text-align: center;
  width:60%;
  margin: 0 auto;
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center space-between;
}

.demo {
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 8px 0;
  width: 130px;
  color: #3e3e3e;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  transition: opacity 200ms;
  text-align: center;
  margin: 10px 5px;
}

.button:hover {
  background: #3e3e3e;
  color: #ededed;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 13px;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
